{% extends 'template.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
<div id="main_page_content">
    <h1 id="app_name" class="horizontal-centered">Mingle Stream</h1>
    <div class="container">
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col">
                <h2 id="app_description" class="horizontal-centered">Chat anywhere. With anyone. Totally free.</h2>
            </div>
            <div class="col"></div>
        </div>
        <div class="row align-items-center">
            <div class="col"></div>
            <div class="col">
                <form id="auth_form" class="horizontal-centered" action="{% url 'auth' %}" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label auth-input-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label auth-input-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button id="auth_button" type="submit" class="btn btn-primary">Register / Log in</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
{% endblock %}